In [2]:
import numpy as np
import pandas as pd

In [3]:
car_df = pd.read_csv("cars.csv", index_col=False)
car_df_tmp = car_df.copy()

In [4]:
car_df_tmp.describe()

,ID,Price,Year,Kilometers,CC,Seating Capacity
count,1.704800e+04,17048.000000,17048.000000,1.704800e+04,17048.000000,17048.000000
mean,1.279027e+07,36777.778038,2015.481288,1.032314e+05,2491.830303,5.115849
std,5.051111e+04,30305.015328,4.721591,8.041313e+04,881.985562,1.121791
min,1.153013e+07,1000.000000,1989.000000,1.000000e+00,875.000000,2.000000
25%,1.275715e+07,18800.000000,2013.000000,4.450225e+04,1987.000000,5.000000
50%,1.280207e+07,29990.000000,2016.000000,8.845400e+04,2354.000000,5.000000
75%,1.283131e+07,45990.000000,2019.000000,1.488735e+05,2981.000000,5.000000
max,1.285246e+07,999000.000000,2022.000000,2.700000e+06,7300.000000,14.000000

In [6]:
car_df_tmp.isnull().sum()

ID                  0
Name                0
Price               0
Brand               0
Model               0
Variant             0
Series              0
Year                0
Kilometers          0
Type                0
Gearbox             0
Fuel                0
Status              0
CC                  0
Color               0
Seating Capacity    0
dtype: int64

# Split the dataset into features and target variable

In [20]:
y = car_df['Price']

In [21]:
X = car_df.drop(columns=['Price'])

In [22]:
X

,ID,Name,Brand,Model,Variant,Series,Year,Kilometers,Type,Gearbox,Fuel,Status,CC,Color,Seating Capacity
0,11530130,2010 Toyota Rukus Build 2 AZE151R,Toyota,Rukus,Build 2,AZE151R,2010,263000,Wagon,Automatic,Unleaded Petrol,Used,2362,Grey,5
1,12190570,2021 Mercedes-Benz V 250 D Avantgarde MWB 447 ...,Mercedes-Benz,V,250 D Avantgarde MWB,447 MY21,2021,19,Wagon,Automatic,Diesel,New In Stock,2143,Black,7
2,12321855,2021 Mercedes-Benz Valente 116 CDI MWB RWD 447...,Mercedes-Benz,Valente,116 CDI MWB RWD,447 MY21,2021,24,Wagon,Automatic,Diesel,New In Stock,2143,Black,8
3,12346971,2010 Mercedes-Benz E250 CDI Avantgarde 207,Mercedes-Benz,E250,CDI Avantgarde,207,2010,120579,Cabriolet,Automatic,Diesel,Used,2143,Black,4
4,12363884,2016 Holden Cruze CD JH MY16,Holden,Cruze,CD,JH MY16,2016,72506,Sportswagon,Automatic,Unleaded Petrol,Used,1796,White,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17043,12852453,2003 Holden Commodore Executive VY,Holden,Commodore,Executive,VY,2003,230441,Sedan,Automatic,Unleaded Petrol,Used,3791,Gold,5
17044,12852460,2008 Toyota Yaris YR NCP90R,Toyota,Yaris,YR,NCP90R,2008,237113,Hatchback,Manual,Unleaded Petrol,Used,1299,Yellow,5
17045,12852462,2002 Holden Jackaroo SE LWB (4X4) U8,Holden,Jackaroo,SE LWB (4X4),U8,2002,238768,Wagon,Automatic,Diesel,Used,2999,Gold,7
17046,12852463,2016 Hyundai I30 Active GD4 Series 2,Hyundai,I30,Active,GD4 Series 2,2016,49800,Hatchback,Manual,Unleaded Petrol,Used,1797,Blue,5
17047,12852464,2005 Toyota RAV4 Cruiser (4X4) ACA23R,Toyota,RAV4,Cruiser (4X4),ACA23R,2005,255809,Wagon,Manual,Unleaded Petrol,Used,2362,Grey,5

In [23]:
y

0          9999
1        117990
2         79990
3         34990
4         15990
          ...
17043      4499
17044      4999
17045      7999
17046     14000
17047      5999
Name: Price, Length: 17048, dtype: int64

In [26]:
np.random.seed(10)

In [30]:
car_df.dtypes

ID                   int64
Name                object
Price                int64
Brand               object
Model               object
Variant             object
Series              object
Year                 int64
Kilometers           int64
Type                object
Gearbox             object
Fuel                object
Status              object
CC                   int64
Color               object
Seating Capacity     int64
dtype: object

In [49]:
car_df.Name[1]

'2021 Mercedes-Benz V 250 D Avantgarde MWB 447 MY21'

In [50]:
car_df.Brand[1]

'Mercedes-Benz'

In [51]:
car_df.Variant[1]

'250 D Avantgarde MWB'

In [52]:
car_df.Model[1]

'V'

In [53]:
car_df.Series[1]

'447 MY21'

In [54]:
car_df.Year[1]

2021

In [56]:
X.drop(columns=['Name'], inplace=True)

In [58]:
X.drop(columns=['ID'], inplace=True)

In [61]:
X['Brand'] = X['Brand'].astype('category').cat.codes

In [62]:
X['Brand']

0        56
1        39
2        39
3        39
4        22
         ..
17043    22
17044    56
17045    22
17046    24
17047    56
Name: Brand, Length: 17048, dtype: int8

In [63]:
X['Brand'][4]

22

In [67]:
car_df['Brand'][0]

'Toyota'

In [68]:
car_df['Brand'][17044]

'Toyota'

In [69]:
car_df['Brand'][17047]

'Toyota'

In [70]:
car_df.dtypes

ID                   int64
Name                object
Price                int64
Brand               object
Model               object
Variant             object
Series              object
Year                 int64
Kilometers           int64
Type                object
Gearbox             object
Fuel                object
Status              object
CC                   int64
Color               object
Seating Capacity     int64
dtype: object

In [71]:
X['Model'] = X['Model'].astype('category').cat.codes
X['Variant'] = X['Variant'].astype('category').cat.codes
X['Series'] = X['Series'].astype('category').cat.codes
X['Type'] = X['Type'].astype('category').cat.codes
X['Gearbox'] = X['Gearbox'].astype('category').cat.codes
X['Fuel'] = X['Fuel'].astype('category').cat.codes
X['Status'] = X['Status'].astype('category').cat.codes
X['Color'] = X['Color'].astype('category').cat.codes

In [72]:
X.dtypes

Brand                int8
Model               int16
Variant             int16
Series              int16
Year                int64
Kilometers          int64
Type                 int8
Gearbox              int8
Fuel                 int8
Status               int8
CC                  int64
Color               int16
Seating Capacity    int64
dtype: object

In [73]:
y.dtypes

dtype('int64')

In [82]:
car_df['Model'] = car_df['Model'].astype('category').cat.codes
car_df['Variant'] = car_df['Variant'].astype('category').cat.codes
car_df['Series'] = car_df['Series'].astype('category').cat.codes
car_df['Type'] = car_df['Type'].astype('category').cat.codes
car_df['Gearbox'] = car_df['Gearbox'].astype('category').cat.codes
car_df['Fuel'] = car_df['Fuel'].astype('category').cat.codes
car_df['Status'] = car_df['Status'].astype('category').cat.codes
car_df['Color'] = car_df['Color'].astype('category').cat.codes

In [85]:
car_df[car_df.columns[1:]].corr()['Price'][:]

Price               1.000000
Model               0.070567
Variant             0.008540
Series             -0.073829
Year                0.488033
Kilometers         -0.447490
Type               -0.016612
Gearbox            -0.108792
Fuel               -0.244233
Status             -0.179523
CC                  0.298205
Color              -0.056827
Seating Capacity    0.046629
Name: Price, dtype: float64

# Based off correlation, we are going to select the features who have correlation from -0.5 to +1 with price. Thus, selected features are: Year, Kilometers, Gearbox, Fuel, Status, CC.

In [86]:
X.drop(columns=['Model', 'Variant', 'Series', 'Type', 'Color', 'Seating Capacity'], inplace=True)

In [87]:
X

       Brand  Year  Kilometers  Gearbox  Fuel  Status    CC
0         56  2010      263000        1     5       2  2362
1         39  2021          19        1     0       1  2143
2         39  2021          24        1     0       1  2143
3         39  2010      120579        1     0       2  2143
4         22  2016       72506        1     5       2  1796
...      ...   ...         ...      ...   ...     ...   ...
17043     22  2003      230441        1     5       2  3791
17044     56  2008      237113        3     5       2  1299
17045     22  2002      238768        1     0       2  2999
17046     24  2016       49800        3     5       2  1797
17047     56  2005      255809        3     5       2  2362

[17048 rows x 7 columns]

# Let's split the feature and target dataset into train, and test sets.

In [88]:
from sklearn.model_selection import train_test_split

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, shuffle=True)

In [90]:
from sklearn.linear_model import LinearRegression

In [91]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [99]:
lm.score(X_train, y_train)

0.4234441927626694

In [105]:
y_pred = lm.predict(X_test)

In [106]:
y_pred

array([62587.79129587, 14449.67913077, 62138.3659314 , ...,
       68363.75681503, 38712.75279054, 75638.80645235])

In [107]:
lm.score(X_test, y_pred)

1.0

In [108]:
from sklearn.ensemble import RandomForestRegressor

In [109]:
rm = RandomForestRegressor(max_depth=3)
rm.fit(X_train, y_train)

RandomForestRegressor(max_depth=3)

In [111]:
y_pred = rm.predict(X_test)

In [112]:
rm.score(X_test, y_pred)

1.0

In [113]:
print(rm.predict([[56, 2012, 56000, 1, 5, 2, 2362]]))

[16321.7894914]

In [117]:
from sklearn.linear_model import LogisticRegression

In [119]:
lgm = LogisticRegression()
lgm.fit(X_train, y_train)
y_pred = lgm.predict(X_test)

/Users/rahulbohara/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [120]:
y_pred

array([29990, 29990, 29990, ..., 29990, 29990, 29990])

In [121]:
lgm.score(X_test, y_pred)

1.0

In [122]:
lgm.score(X_train, y_train)

0.018998424093853966

In [123]:
lgm.score(X_test, y_test)

0.015641663704230358

In [124]:
lgm.score(X_test, y_pred)

1.0

In [125]:
import pickle

In [126]:
filename = 'finalized_model.sav'
pickle.dump(lm, open(filename, "wb"))

In [127]:
X_test

       Brand  Year  Kilometers  Gearbox  Fuel  Status    CC
11591     26  2020       71625        1     0       2  2999
3799      22  2012       70019        1     5       2  1598
9425      56  2019       51805        3     0       2  2753
5888      22  2016      114123        1     0       2  2231
16030     57  2013      177950        1     0       2  1598
...      ...   ...         ...      ...   ...     ...   ...
10445     38  2021       29551        1     5       2  2488
15629     41  2019       91498        1     5       2  1998
7228       3  2022        1680        1     0       0  1968
13674     41  2021       16771        1     5       2  1499
7783      29  2022          10        1     5       1  3604

[5626 rows x 7 columns]

In [128]:
y_test

11591    46634
3799      9996
9425     56990
5888     21990
16030    19500
         ...
10445    61990
15629    24790
7228     74850
13674    38990
7783     98000
Name: Price, Length: 5626, dtype: int64